main {
    margin-top: 150px;
    text-align: -webkit-center;
}

main span {
    color: #f2559d;
}

h1 {
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #000000;
    text-transform: lowercase;
}

.text p {
    font-family: CGmed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    max-width: 875px;
  height: 135px;
    position: relative;
    top: 100px;
}

.text {
    margin-bottom: 150px;
}

.arrow {
   position: relative;
    left: -40%;
    top: 2%;
    bottom: 32%;
    top: 120px;
   
}

#gallery img {
    width: 100%;
    object-fit: cover;
    display: block;
}
 
 .foto1 {
	width: 400px;
  height: 600px;
    margin-top: 100px;
       
}
.foto1 img {
    width: 100%;
    height: 100%;
}

 
.foto2 {
	width: 400px;
  height: 600px;    
}
.foto2 img {
    width: 100%;
    height: 100%;
}
.foto3 {
	width: 658px;
  height: 440px;
    
     }
.foto3 img {
    width: 100%;
    height: 100%;
       /* left: -100px; */
    /* position: relative; */
    /* top: 170px; */
    margin-top: 170px;
    /* margin-right: 21px; */
    margin-left: -200px;
}
.foto3 p {
    margin-left: -200px;
}
 
.foto4 {
	width: 400px;
  height: 600px; 
}
.foto4 img{
	width: 100%;
  height: 100%; 
}
.foto5 {
	width: 400px;
  height: 600px; 
    
}
.foto5 img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-left: -325px;
}
.foto5 p {
    margin-left: -325px;
}
.foto6 {
	width: 600px;
    height: 400px;
}
.foto6 img {
    width: 100%;
    height: 100%;
        margin-top: 200px;
    margin-left: -400px;
}
.foto6 p {
margin-left: -400px;}

#gallery p{
    font-family: FuturaMed;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #000000;
    margin-top: 20px;

}
 


#know_us {
	padding-top: 150px;
}

@media only screen and (max-width: 1200px){
    .col-xl-2 {
        display: none;
    }
    
    .foto3 {
        width: 400px;
        height: 600px;
            }
    .foto3 img {
        margin-left: 0px;
    }
    .foto3 p {
        margin-left: 0px;
    }
    .foto4 img {
	margin-top: 50px;
}
    .foto5 img {
        margin-left: 0px;
    }
    .foto5 p {
        margin-left: 0px;
    }
    .foto6 {
        width: 400px;
        height: 600px;
            }
    .foto6 img {
        margin-left: 0px;
        margin-top: 0px;
    }
    .foto6 p {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 992px){
    #gallery img {
    width: 87%;
}
}
@media only screen and (max-width: 767px){
    .text p {
        font-size: 16px;
    }
    .foto1 {
        height: auto;
        width: auto;
    }
    .foto1 img {
        max-height: 400px;
    max-width: 400px;
    }
    .foto2 {
        height: auto;
        width: auto;
    }
    .foto2 img {
        max-height: 400px;
    max-width: 400px;
    }
    .foto3 {
        height: auto;
        width: auto;
    }
    .foto3 img {
        max-height: 400px;
    max-width: 400px;
        margin-top: 0px;
    }
    .foto4 {
        height: auto;
        width: auto;
    }
    .foto4 img {
        max-height: 400px;
    max-width: 400px;
        margin-top: 0px;
    }
    .foto5 {
        height: auto;
        width: auto;
    }
    .foto5 img {
        max-height: 400px;
    max-width: 400px;
        margin-top: 0px;
    }
    .foto6 {
        height: auto;
        width: auto;
    }
    .foto6 img {
        max-height: 400px;
    max-width: 400px;
    }
}

















