main {
    margin-top: 220px;
    text-align: -webkit-center;
}

main span {
    color: #f2559d;
}

h1 {
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #000000;
    text-transform: lowercase;
}

.text p {
    font-family: CGmed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    max-width: 875px;
    height: 135px;
    position: relative;
    top: 100px;
}

.text {
    margin-bottom: 150px;
}

.arrow {
    position: relative;
    left: -44%;
    top: 160px;
}

#gallery img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.foto1 {
    max-width: 400px;
    height: 600px;
    margin-top: 100px;

}

.foto1 img {
    width: 100%;
    height: 100%;
}

.foto2 {
    max-width: 400px;
    height: 600px;
}

.foto2 img {
    width: 100%;
    height: 100%;
}

.foto3 {
    max-width: 658px;
    height: 440px;

}

.foto3 img {
    width: 100%;
    height: 100%;
    margin-top: 170px;
    margin-left: -200px;
}

.foto3 p {
    margin-left: -100px;
}

.foto4 {
    max-width: 400px;
    height: 600px;
}

.foto4 img {
    width: 100%;
    height: 100%;
}

.foto5 {
    max-width: 400px;
    height: 600px;

}

.foto5 img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-left: -325px;
}

.foto5 p {
    margin-left: -162px;
}

.foto6 {
    max-width: 600px;
    height: 400px;
}

.foto6 img {
    width: 100%;
    height: 100%;
    margin-top: 200px;

    object-position: top;
}



#gallery p {
    font-family: FuturaMed;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #000000;
    margin-top: 20px;
}

#know_us {
    padding-top: 150px;
}

.p_1 {
    position: relative;
    text-align: -webkit-left;
}

.p_2 {
    position: relative;
    text-align: -webkit-left;
}

.p_3 {
    position: relative;
    text-align: -webkit-left;
}

.p_4 {
    position: relative;
    text-align: -webkit-left;
}

.p_5 {
    position: relative;
    text-align: -webkit-left;
}

.p_6 {
    position: relative;
    text-align: -webkit-left;
}

@media only screen and (min-width: 1200px) {
    .foto1 {
        width: 400px;
        height: 600px;
    }

    .foto2 {
        width: 400px;
        height: 600px;
    }

    .foto3 {
        width: 658px;
        height: 440px;
    }

    .foto4 {
        width: 400px;
        height: 600px;
        position: relative;
        left: 100px;
    }

    .foto6 {
        width: 600px;

    }

    .foto5 {
        position: relative;
        left: 60px;
    }
}

@media only screen and (max-width: 1200px) {
    .col-xl-2 {
        display: none;
    }

    #footer .col-xl-2 {
        display: block;

    }

    .foto3 {
        max-width: 400px;
        height: 600px;
    }

    .foto3 img {
        margin-left: 0px;
    }

    .foto3 p {
        margin-left: 0px;
    }

    .foto4 img {
        margin-top: 50px;
    }

    .foto5 img {
        margin-left: 0px;
    }

    .foto5 p {
        margin-left: 0px;
    }

    .foto6 {
        max-width: 400px;
        height: 600px;
    }

    .foto6 img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .foto6 p {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 767px) {
    .text p {
        font-size: 16px;
    }

    .foto1 {
        height: auto;
        width: auto;
    }

    .foto1 img {
        height: 360px;
        max-width: 315px;
    }

    .foto2 {
        height: auto;
        width: auto;
    }

    .foto2 img {
        height: 360px;
        max-width: 315px;
    }

    .foto3 {
        height: auto;
        width: auto;
    }

    .foto3 img {
        height: 360px;
        max-width: 315px;
        margin-top: 0px;
    }

    .foto4 {
        height: auto;
        width: auto;
    }

    .foto4 img {
        height: 360px;
        max-width: 315px;
        margin-top: 0px;
    }

    .foto5 {
        height: auto;
        width: auto;
    }

    .foto5 img {
        height: 360px;
        max-width: 315px;
        margin-top: 0px;
    }

    .foto6 {
        height: auto;
        width: auto;
    }

    .foto6 img {
        height: 360px;
        max-width: 315px;
    }
}

@media only screen and (max-width: 767px) {
    .arrow {
        display: none
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    main {
        margin-top: 115px;

    }

    h1 {
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    .text {
        margin-top: -55px;
        margin-bottom: 125px;
    }

    .p_1,
    .p_2,
    .p_3,
    .p_4,
    .p_5,
    .p_6 {
        max-width: 315px;
    }
}
