main {
    margin-top: 220px;
    text-align: -webkit-center;
}

main h1 span {
    color: #f2559d;
}

h1 {
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #000000;
    text-transform: lowercase;
}

.top_foto {
    max-width: 1240px;
    max-height: 827px;
    margin: 30px auto;
    position: relative;
}


.arrow { 
    position: absolute; 
  left: 5%;
    top: 15%;
}

.p_text {
     max-width: 906px;
  height: 135px;
  font-family: CGMed;
  font-size: 25px;
   
  object-fit: contain;
   
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
        margin-top: 90px;
    margin-bottom: 90px;
}



 

#fotos .row {
    justify-content: center;
}

#fotos h1 {
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    text-align: -webkit-left;
    text-transform: none;
}

#fotos p {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.4px;
    color: #000000;
    text-align: -webkit-left;

    height: 300px;
}

.opis {
    max-width: 270px;
    text-align: left;
}

.opis h1 {
    margin-top: 10px;
    font-family: FuturaMed;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000000;
}

.opis h2 {
    font-family: FuturaPT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #000000;
}

.opis h3 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #000000;
}


#fotos .col-sm-6 {
    max-width: 350px;
    margin: 0px 50px;
}

.foto1 {
    width: 350px;
    height: 370px;
    background-color: #f5f6fa;
}

.foto1 img {
    object-fit: cover;
    margin: 50px auto 70px auto;
    width: 270px;
    height: 270px;

}

.foto2 {
    width: 350px;
    height: 320px;
    background-color: #f5f6fa;
}

.foto2 img {
    object-fit: cover;
    margin: -35px auto 46px auto;
    height: 320px;
}

.foto3 {
    width: 350px;
    height: 320px;
    background-color: #f5f6fa;
    margin-top: 250px;
}

.foto3 img {
    object-fit: cover;
    margin: 0px auto 30px auto;
    height: 320px;
}

.foto4 {
    width: 350px;
    height: 370px;
    background-color: #f5f6fa;
    margin-top: 202px;
}

.foto4 img {
    object-fit: cover;
    margin: 11px auto 30px auto;
    height: 370px;
}

#fotos h2 {
    font-family: FuturaPT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #000000;
}

#slider {
    margin-top: 272px;
    position: relative;
    max-width: 1240px;
    padding-left: 30px;
    padding-right: 30px;
}

#slider img {
    max-width: 270px;
}

.h1_slider {
    width: 118px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;
    position: absolute;
    top: -30%!important;
    left: 5%;

}
#slider .next_slider1 {
     
}
#slider2 {
   margin-top: 272px;
    position: relative;
    max-width: 1240px;
    padding-left: 30px;
    padding-right: 30px;
}

#slider2 img {
    max-width: 270px;
}

.h1_slider2 {
    width: 219px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;
    position: absolute;
     top: -30%!important;
    left: 5%;
     
     
}

#slider3 {
   margin-top: 272px;
    position: relative;
    max-width: 1240px;
    padding-left: 30px;
    padding-right: 30px;
}

#slider3 img {
    max-width: 270px;
}

.h1_slider3 {
    width: 219px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;     
   position: absolute;
     top: -30%!important;
    left: 7%;
    text-align: left;
}

#slider4 {
   margin-top: 272px;
    position: relative;
    max-width: 1240px;
    padding-left: 30px;
    padding-right: 30px;
}
#slider5 {
   margin-top: 272px;
    position: relative;
    max-width: 1240px;
    padding-left: 30px;
    padding-right: 30px;
}
#slider4 img {
    max-width: 270px;
}
#slider5 img {
    max-width: 270px;
}
.h1_slider4 {
    width: 219px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;
    position: relative;
    position: absolute;
     top: -30%!important;
    left: 5%;
}
.h1_slider5 {
    width: 219px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;     
   position: absolute;
     top: -30%!important;
    left: 5%;
    text-align: left;
}

/*-------------------*/
.slider_four_in_line {
    max-width: 1240px;
    height: 35vw;
    position: relative;
    margin: 0 auto;
    user-select: none;
}

.slider_four_in_line > * {
   transition: ease all 0.5s;
    overflow: hidden;
}

.slider_four_in_line .hidden {
    opacity: 0;
    z-index: 0;
    top: 0px;
    left: 50%;
}

.slider_four_in_line .active,
.slider_four_in_line .next1,
.slider_four_in_line .next2,
.slider_four_in_line .next3,
.slider_four_in_line .next4,
.slider_four_in_line .prev1 {
    position: absolute;
    width: 33%;
    /* height: 100%;*/
    top: 0px;
     
    z-index: 10;
    margin: 0 0.5%;
}
.slider_four_in_line .active{
    left: 35%
}
.slider_four_in_line .next1 {
    left: 65%;
    width: 33%
}

.slider_four_in_line .next2 {
    left: 75%;
}

.slider_four_in_line .next3 {
    width: 0%;
    left: 100%;
    z-index: 0;
    opacity: 0;
}

.slider_four_in_line .next4 {
    left: 100%;
    width: 0%;
    z-index: 0;
    opacity: 0;
}

.slider_four_in_line .prev1 {
    position: absolute;
    width: 33%;
    /*  height: 100%;*/
    top: 0px;
    left: 0%;
    z-index: 10;
    opacity: 1;
}

.slider_four_in_line .prev2,
.slider_four_in_line .prev3,
.slider_four_in_line .prev4 {
    position: absolute;
    width: 0%;
    /* height: 100%;*/
    top: 0px;
    left: 0%;
    z-index: 0;
    opacity: 0;
}



 
.next_button {
    position: absolute;
    left: 94% !important;
    top: -30% !important;
    margin: -15px 0 0 -25px !important;
    /* width: 50px !important;
    height: 50px !important;
    border: 1px solid #000 !important;
    background: url('../img/long_arrow.svg') !important;
    opacity: 0.5 !important;
    z-index: 5000 !important;*/
    cursor: pointer;
    text-align: center;
    /* line-height: 30px;
    border-radius: 50%;*/

}

.prev_button {
    display: none;
}



div.slider > div:not(.nav_indicators):not(.next_button):not(.prev_button) {


   /* text-align: center;*/
    box-sizing: border-box;


}
 
 #slider_category {
	display: none;
     padding-left: 30px;
     height: 180px;
     position: relative;
     top: -20px
}
.btn {
    width: 200px;
    border: 1px solid black;
    border-radius: 30px;
    height: 25px;
        
}

.clean {
    width: 75px;
  border-radius: 12.5px;
  border: solid 1px #000000;
    opacity: 0.1
}
.button_p {
	height: 16px;
  font-family: FuturaPT;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.3px;
  text-align: center;
  color: #000000;
    text-transform: uppercase;
}
.skincare {
   width: 120px; 
  opacity: 0.1;
    
  border-radius: 12.5px;
  border: solid 1px #000000; 
}
.body {
	width: 79px; 
  opacity: 0.1;
  border-radius: 12.5px;
  border: solid 1px #000000; 
     
}

.special {
   width: 122px;   
  opacity: 0.1;
  border-radius: 12.5px;
  border: solid 1px #000000; 
}
.serum {
  width: 73px;
  border-radius: 12.5px;
  border: solid 1px #000000; 
    opacity: 0.1;
}
 .btn:hover {
	opacity: 1
}
.act {
    opacity: 1
}

#slider_category h2 {
 width: 315px;   
  height: 26px;
    font-family: FuturaMed;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #000000;
    text-align: left
}

#foto {
    padding-left: 30px;
    padding-right: 30px;
}


/************************/
 
 
.slides {
  height: 100%;  
    position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
    top: -30px;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
    background: url(../img/maly_oval_grey.svg);
    position: relative;
    top: 25px;
}
.slider__nav:checked {
color: black
    /*  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;*/
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
 
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  /*5*/left: -20%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  /*10*/
    left: -10%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  /*50*/
    left: -50%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  /*60*/
    left: -60%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
   padding-right: 15px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s2 , .s3 , .s4 {
    display: none
}
 
 
@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

 
 

/****************/

@media only screen and (min-width: 1200px) {
    #fotos {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    .opis {
        max-width: 200px;
    }

 
    #slider img {
        max-width: 190px;
    }

    #slider2 img {
        max-width: 190px;
    }

    #slider3 img {
        max-width: 190px;
    }

    #slider4 img {
        max-width: 190px;
    }
    .p_text {

        padding-left: 10px;
        padding-right: 10px;
    }
    #know_us {
	margin-top: 300px
}
}


 

@media only screen and (max-width: 992px) {
    #fotos .col-sm-6 {
        margin: 0px 0px;
    }
#slider , #slider2 ,
    #slider3 , #slider4 ,#slider5 {
        margin-top: 120px;
    }    
 
    .opis {
        max-width: 180px;
    }
    #know_us {
	margin-top: 370px
}
}

@media only screen and (max-width: 767px) {
    .slider_four_in_line .active {
        left: 50%;
        transform: translate(-50%);
        width: 100%
    }
    .slider_four_in_line .next1,
    .slider_four_in_line .next2,
    .slider_four_in_line .prev1,
    .slider_four_in_line .prev2 {
        opacity: 0;
    }


    .opis {
        max-width: 320px;
    }

    .opis h1 {
        font-size: 15px;
    }

    .p_text {
        font-size: 20px;
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }
    h1 {
font-size: 30px;
    }

    .top_foto {
        max-width: 1240px;
        max-height: 827px;
        margin: 50px auto;
    }

    .foto2 {
        margin-top: 140px;
    }

    #slider img,
    #slider2 img,
    #slider3 img,
    #slider4 img,
    #slider5 img {
         max-width: 200px;
    }
/*#slider .next_button img,
  #slider2 .next_button img , 
   #slider3 .next_button img, 
   #slider4 .next_button img 
    {
	width: 100px;
    width: 140px;
    left: -69px;
    position: relative;
}*/
    #slider2 {
    margin-top: 370px;
}
    #slider3 {
    margin-top: 370px;
}
    #slider4 {
    margin-top: 370px;
}
    #slider5 {
    margin-top: 380px;
}
    #know_us {
	margin-top: 450px;;
}
    
}


@media only screen and (max-width: 576px){
#slider_category {
	display: block;
}
}