main {
    margin-top: 150px;
    text-align: -webkit-center;
}

main h1 span {
    color: #f2559d;
}

h1 {
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #000000;
    text-transform: lowercase;
}

.top_foto {
    max-width: 1240px;
    max-height: 827px;
    margin: 150px auto;
}


.arrow {
    /* left: -40%; */
    /* top: 49%; */
    position: relative;
    top: 115%;
    left: -38%;
}

.p_text {
    font-family: FuturaPT;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #000000;
    max-width: 906px;
    margin-top: 100px;
}



#know_us {
    padding-top: 340px;
}


#fotos .row {
    justify-content: center;
}

#fotos h1 {
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    text-align: -webkit-left;
    text-transform: none;
}

#fotos p {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.4px;
    color: #000000;
    text-align: -webkit-left;

    height: 300px;
}

.opis {
    max-width: 270px;
    text-align: left;
}

.opis h1 {
    margin-top: 10px;
    font-family: FuturaMed;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000000;
}

.opis h2 {
    font-family: FuturaPT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #000000;
}

.opis h3 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #000000;
}


#fotos .col-sm-6 {
    max-width: 350px;
    margin: 0px 50px;
}

.foto1 {
    width: 350px;
    height: 370px;
    background-color: #f5f6fa;
}

.foto1 img {
    object-fit: cover;
    margin: 50px auto 70px auto;
    width: 270px;
    height: 270px;

}

.foto2 {
    width: 350px;
    height: 320px;
    background-color: #f5f6fa;
}

.foto2 img {
    object-fit: cover;
    margin: -35px auto 46px auto;
    height: 320px;
}

.foto3 {
    width: 350px;
    height: 320px;
    background-color: #f5f6fa;
    margin-top: 250px;
}

.foto3 img {
    object-fit: cover;
    margin: 0px auto 30px auto;
    height: 320px;
}

.foto4 {
    width: 350px;
    height: 370px;
    background-color: #f5f6fa;
    margin-top: 202px;
}

.foto4 img {
    object-fit: cover;
    margin: 11px auto 30px auto;
    height: 370px;
}

#fotos h2 {
    font-family: FuturaPT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #000000;
}

#slider {
    margin-top: 100px;
}

#slider img {
    max-width: 270px;
}

.h1_slider {
    width: 118px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;
    position: relative;
    top: -20px;
    left: -486px;

}

#slider2 {
    margin-top: 246px;
}

#slider2 img {
    max-width: 270px;
}

.h1_slider2 {
    width: 219px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;
    position: relative;
    top: 130px;
    left: -486px;
    margin-top: 135px;
}

#slider3 {
    margin-top: 246px;
}

#slider3 img {
    max-width: 270px;
}

.h1_slider3 {
    width: 219px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;
    position: relative;
    top: 130px;
    left: -486px;
    margin-top: 135px;
}

#slider4 {
    margin-top: 246px;
}

#slider4 img {
    max-width: 270px;
}

.h1_slider4 {
    width: 219px;
    height: 32px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    text-transform: none;
    position: relative;
    top: 130px;
    left: -486px;
    margin-top: 135px;
}

/*-------------------*/
.slider_four_in_line {
    max-width: 1240px;
    height: 19.5vw;
    position: relative;
    margin: 0 auto;
    user-select: none;
}

.slider_four_in_line > * {
    transition: ease all 1s;
    overflow: hidden;
}

.slider_four_in_line .hidden {
    opacity: 0;
    z-index: 0;
    top: 0px;
    left: 50%;
}

.slider_four_in_line .active,
.slider_four_in_line .next1,
.slider_four_in_line .next2,
.slider_four_in_line .next3,
.slider_four_in_line .next4,
.slider_four_in_line .prev1 {
    position: absolute;
    /*width: 24%;*/
    /* height: 100%;*/
    top: 0px;
    left: 25%;
    z-index: 10;
    margin: 0 0.5%;
}

.slider_four_in_line .next1 {
    left: 50%;
}

.slider_four_in_line .next2 {
    left: 75%;
}

.slider_four_in_line .next3 {
    width: 0%;
    left: 100%;
    z-index: 0;
    opacity: 0;
}

.slider_four_in_line .next4 {
    left: 100%;
    width: 0%;
    z-index: 0;
    opacity: 0;
}

.slider_four_in_line .prev1 {
    position: absolute;
    width: 24%;
    /*  height: 100%;*/
    top: 0px;
    left: 0%;
    z-index: 10;
    opacity: 1;
}

.slider_four_in_line .prev2,
.slider_four_in_line .prev3,
.slider_four_in_line .prev4 {
    position: absolute;
    width: 0%;
    /* height: 100%;*/
    top: 0px;
    left: 0%;
    z-index: 0;
    opacity: 0;
}



/*********************************/

.nav_indicators {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 50000;
}

.nav_indicators ul {
    position: static;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.nav_indicators ul li {
    position: static;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background: #fff;
    color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.nav_indicators ul li.active {
    position: static;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 0;
    background: #555;
    color: #555;
    border: 2px solid #aaa;
    border-radius: 50%;
    cursor: pointer;
}

.next_button {
    position: absolute;
    left: 87% !important;
    top: -42% !important;
    margin: -15px 0 0 -25px !important;
    /* width: 50px !important;
    height: 50px !important;
    border: 1px solid #000 !important;
    background: url('../img/long_arrow.svg') !important;
    opacity: 0.5 !important;
    z-index: 5000 !important;*/
    cursor: pointer;
    text-align: center;
    /* line-height: 30px;
    border-radius: 50%;*/

}

.prev_button {
    display: none;
}

.arrow {
    /* left: -40%; */
    /* top: 49%; */
    position: relative;
    top: 15%;
    left: -38%;
}


div.slider > div:not(.nav_indicators):not(.next_button):not(.prev_button) {


    text-align: center;
    box-sizing: border-box;


}

#know_us {
    padding-top: 200px;
}



@media only screen and (min-width: 1200px) {
    #fotos {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    .opis {
        max-width: 200px;
    }

    .h1_slider2 {
        left: -13%;
        top: 175px;
    }

    .h1_slider {
        top: 34px;
        left: -85px;
    }

    .h1_slider3 {
        left: -28%;
        top: 175px;
    }

    .h1_slider4 {
        left: -13%;
        top: 175px;
    }

    #slider img {
        max-width: 190px;
    }

    #slider2 img {
        max-width: 190px;
    }

    #slider3 img {
        max-width: 190px;
    }

    #slider4 img {
        max-width: 190px;
    }
}


@media only screen and (max-width: 1200px) {
    .arrow {
        top: 15%;
    }

    .p_text {

        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 977px) {
    #fotos .col-sm-6 {
        margin: 0px 0px;
    }

    .arrow {
        top: 94%;
    }

    .opis {
        max-width: 180px;
    }
}

@media only screen and (max-width: 767px) {
    .opis {
        max-width: 143px;
    }

    .opis h1 {
        font-size: 15px;
    }

    .p_text {
        font-size: 16px;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .top_foto {
        max-width: 1240px;
        max-height: 827px;
        margin: 50px auto;
    }

    .foto2 {
        margin-top: 140px;
    }

    #slider img {
        max-width: 140px;
    }

    #slider2 img {
        max-width: 140px;
    }

    #slider3 img {
        max-width: 140px;
    }

    #slider4 img {
        max-width: 140px;
    }
}

@media only screen and (max-width: 550px) {
    .opis h1 {
        display: none;
    }

    .opis h2 {
        display: none;
    }

    .opis h3 {
        display: none;
    }

    .h1_slider2 {
        margin-top: -10px;
    }

    .h1_slider3 {
        margin-top: -10px;
    }

    .h1_slider4 {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 500px) {

    #slider img {
        max-width: 60px;
    }

    #slider2 img {
        max-width: 60px;
    }

    #slider3 img {
        max-width: 60px;
    }

    #slider4 img {
        max-width: 60px;
    }
}
