 @font-face {
     font-family: CGmed;
     src: url(font/CormorantGaramond-Medium.ttf);
     font-weight: bold;
 }

 @font-face {
     font-family: CGbold;
     /*src: url(font/Bodoni SvtyTwo ITC TT Bold.otf);*/
     src: url(font/CormorantGaramond-Bold.ttf);
     font-weight: bold;
 }

 @font-face {
     font-family: FuturaMed;
     /*src: url(font/FuturaMedium.otf);*/
     src: url(font/futuraMedium.ttf);
 }

 @font-face {
     font-family: FuturaPT;
     /*src: url(font/FuturaPTBook.otf);*/
     src: url(font/futuraptbook.ttf);
 }

 @font-face {
     font-family: FuturaBold;
     src: url(font/futura-bold-font.ttf);
     /* src: url(font/futuraboldfont.otf);*/
     font-weight: bold;
 }

 @font-face {
     font-family: Futura-PT-Heavy;
     src: url(font/futura-pt-heavy.otf);
 }



 * {
     box-sizing: border-box;
 }

 body {
     font-size: 16px;
     overflow-x: hidden;

 }

 /* Menu */
 .menu-icon {
     position: absolute;
     top: 40px;
     left: 50px;
     display: block;
     width: 40px;
     height: 16px;
     z-index: 1000;
      transition: ease all 2s;
 }

 .burger_white {
     top: 40px;
 }

 .menu-icon .burger_white {
     opacity: 0;
 }

 .menu-icon.active .burger {
 transition: ease all 2s;
     opacity: 0;
 }

 .menu-icon.active .burger_white {
     /*top: 0px;*/
     opacity: 1;
     position: fixed;
      transition: ease all 2s;

 }

 .menu {
     display: none;
     flex-direction: column;
     justify-content: center;
     margin: 0;
     padding: 0;
     background: black;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     list-style-type: none;
     z-index: 2;
     height: 102vh;
     width: 100vw
 }

 .menu li {
     width: 100%;
     margin-bottom: 15px;
     margin-left: 150px;
 }

 .menu a {
     text-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
     font-family: Futura-PT-Heavy;
     font-size: 80px;
     font-weight: 600;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     text-decoration: none;
    
     transition: color 3s ease;
 }


 /*.menu a:hover {
     text-decoration: line-through;

 }*/

 .menu.visible {
     display: flex;
     position: fixed;
    

 }

 /*.menu.visible {
     overflow-y: hidden;
 }*/

 .bitmap {
     position: absolute;
     top: 40px;
     left: 50%;
     object-fit: contain;
     transform: translateX(-50%);
     width: 100px;
     height: 25px;
 }

 .nav_icon {
     position: fixed;
     bottom: 0;
     right: 120px;
     display: flex;
 }


 .menu p {
     width: 58px;
     height: 17px;
     font-family: FuturaPT;
     font-size: 12px;
     font-weight: 600;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: fixed;

 }

 .burger_p_1 {
     position: fixed;
     bottom: 18px;
     right: 46px;
 }

 .burger_p_2 {
     position: fixed;
     bottom: 19px;
     right: 160px;
 }

 .instagram {
     margin-right: 95px;
 }

 /*----------
END MENU 
---------------*/

.content .margin {
	margin-left: 30px;
}
 /* ------------
HEADER
------------------*/
 main {
     margin-top: -20px;
 }

 header img {
     position: absolute;
     top: 40px;
     left: 50%;
     object-fit: contain;
     width: 100px;
     height: 25px;
     transform: translateX(-50%);
 }

 .button {
     position: absolute;
     top: 65%;
     left: 50%;
     transform: translateX(-50%);
     width: 100px;
     height: 30px;
     border: solid 1px #ffffff;
     background: transparent;
     cursor: pointer;
     color: #ffffff;
     z-index: 1;
 }

 .button_img_3 {
     top: 52%
 }

 .box a {
     text-decoration: none;
 }

 .box a:hover {
     text-decoration: none;
 }

 .re_power {
     margin-top: 220px;
 }

 .re_power h1 {
     max-width: 434px;
     height: 70px;
     /*font-family: FuturaBold;*/
     font-size: 30px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 2.33;
     letter-spacing: 3.5px;
     color: #000000;
 }

 .box_1 {
     margin-top: 155px;
 }

 .re_power span {
     color: #f2559d;
 }

 .img_1 {
     max-width: 422px;
     /* height: auto; */
     /* background: url(img/home1.jpg); */
     position: relative;
     top: 34px;


 }

 .img_1 img {
     width: 100%;
 }

 .img_2 {
     max-width: 386px;
     height: 579px;
     top: -30px;
     position: relative;

 }

 .img_2 img {
     width: 100%;
     /*position: absolute;*/
     box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
 }

 .img_1 h1 {
     text-decoration: none;
     font-family: CGbold;
     font-size: 48px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     padding-left: 5px;
     padding-right: 5px;
     position: absolute;
     top: 50%;
     left: 4%;
 }

 .img_1 span {
     color: #f2559d;
 }

 .img_2 h1 {

     text-decoration: none;
     font-family: CGbold;
     font-size: 50px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: relative;
     top: -50%;
     left: 50%;
     transform: translateX(-50%);
     z-index: 1;
 }

 .img_2 span {
     color: #f2559d;
 }


 /*-----------------------------
IMG 3 , IMG 4
---------------------------*/

 .img_3 img {
     width: 100%;
     position: absolute;
 }

 .img_4 img {
     width: 100%;
     position: absolute;
     height: 100%;
     object-fit: cover;
 }


 .img_3 {
     width: 581px;
     height: 438px;
     position: relative;
     margin-top: 123px;

 }

 .img_4 {
     width: 409px;
     height: 615px;

     left: 154px;
     position: relative;
 }

 .img_3 h1 {
     position: relative;
     font-family: CGbold;
     font-size: 50px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: relative;
     top: 37%;
     left: 8%;
     transform: translate(-50% -50%);
     text-decoration: none;
 }

 .img_3 span {
     color: #f2559d;
 }

 .img_4 h1 {
     position: relative;
     font-family: CGbold;
     font-size: 50px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: relative;
     top: 50%;
     left: 25%;
     transform: translate(-50% -50%);
     z-index: 1;
     text-decoration: none;

 }

 .img_4 span {
     color: #f2559d;
 }

 .l:hover {
     text-decoration: line-through;
      transition: ease all 2s;
 }

 .l::after,
 .l::before {
     content: '\00a0\00a0\00a0\00a0';
 }

 .l2:hover {
     text-decoration: line-through;
      transition: ease all 2s;
 }

 .l2::after,
 .l2::before {
     content: '\00a0\00a0';
 }

 .md_1,
 .md_2 {
     text-align: -webkit-center;
 }

 .l_margin {
     margin-left: -17px;
 }

 /* ------------------------
KNOW US 
--------------------------*/

 #know_us {
     text-align: -webkit-center;
     padding-top: 150px;
 }

 #know_us .row {
     justify-content: center;
 }

 #know_us h1 {
     font-family: CGmed;
     font-size: 25px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 1px;
     text-align: center;
     color: #000000;
     text-transform: none;
 }



 #know_us h2 {
     font-family: FuturaPT;
     font-size: 15px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.73;
     letter-spacing: 0.4px;
     text-align: center;
     color: #000000;
 }

 #footer .re_p {
     width: 192px;
 }

 #know_us span {
     font-family: FuturaMed;
     font-weight: 900;
 }

 #know_us .form-control {
     width: 300px;
     display: inline;
     border: 1px solid;
     border-radius: 0px;
 }

 #know_us .container-fluid {
     display: flex;
     justify-content: center;
 }

 .go {
     position: absolute;
     padding-left: 10px;
 }

 .oval {
     width: 80px;
     height: 80px;
     background-color: #f5f6fa;
     border-radius: 50%;
     margin: 80px;
     display: inline-block;

 }

 #know_us .oval h1 {
     font-family: FuturaMed;
     font-size: 15px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 5px;
     color: #000000;
     position: relative;
     top: 39px;
     width: 161px;
     left: -39px;
     text-transform: uppercase;
 }



 #footer {
     padding-bottom: 50px;
     text-align: -webkit-center;


 }

 #footer h5 {
     font-family: FuturaMed;
     font-size: 15px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #000000;
 }

 #footer a {
     text-decoration: none;
     color: #000000;
 }


 .line {
     height: 1px;
     background-color: #000000;
     width: 80%;
     position: relative;
     top: 100px;
 }

 #footer .col-xl-2 {
     text-align: left;
     padding-top: 200px;
     padding-left: 75px;

 }

 #footer p {

     font-family: FuturaPT;
     font-size: 14px;
     font-weight: 300;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 1px;
     color: #000000;
 }

 /*#footer a:hover {
    text-decoration: line-through;*/
 }

 #footer .footer_icon {
     padding-top: 200px;
     text-align: right;
     padding-right: 75px;
 }

 #footer img {
     margin-left: 50px;
 }


 #footer .col-xl-4 {
     text-align: left;
     padding-left: 75px;
 }

 #footer .col-xl-8 {
     justify-content: flex-end;
     display: flex;
     padding-right: 75px;
 }

 #footer .col-xl-6 {


     text-align: -webkit-right;
     padding-right: 50px;
 }




 .img_1:hover {
     opacity: 0.6;
          transition: ease all 1s;
 }

 .img_3:hover {
     opacity: 0.6;
      transition: ease all 1s;
 }

 .img_4:hover {
     opacity: 0.6;
      transition: ease all 1s;
 }

 .z1:hover {
     opacity: 0.6;
          transition: ease all 1s;
 }

 .row_footer {
     margin-top: 50px;
 }







 @media screen and (min-width: 767px) and (max-width: 1217px) {
     .oval {
         margin: 30px;
     }

     .footer_icon {
         padding-top: 0px;
     }
 }

 @media only screen and (min-width: 1200px) {
     .img_1 {
         left: 40px;
     }

     .img_2 {
         left: -30px;
     }

     .img_3 {
         left: 34px;
     }
 }

 @media only screen and (max-width: 1200px) {


     .img_3 img {
         width: 100%;
         position: absolute;
         /* height: -webkit-fill-available; */
         height: 438px;
         object-fit: cover;
     }

     .img_4 {
         width: 422px;
         left: 0px;
         height: 610px;
         width: 100%;
     }

     .img_3 {
         width: 422px;
         left: 0px;
         height: 610px;
         width: 100%;
     }

     .img3 img {
         width: 100%;
         position: absolute;
         height: -webkit-fill-available;

     }


     .img_1 h1 {
         font-size: 42px;
         left: 13%;
     }

     .img_2 h1 {
         font-size: 42px;
         /*left: 55%;*/
     }

     .img_3 h1 {
         font-size: 42px;
         left: 4%;
     }

     .img_4 h1 {

         font-size: 42px;
         left: 32%;
     }
 }

 @media only screen and (max-width: 993px) {
     #know_us {
         padding-top: 0px;
     }

     .menu p {
         bottom: 0;
     }

     .col-md-2 {
         display: none;
     }

     .img_1 h1 {
         font-size: 30px;
     }


     .box .row {

         justify-content: center;
     }

     .img_2 h1 {
         font-size: 36px;
     }

     .img_3 h1 {
         top: 30%;
         font-size: 36px;
         left: 0%;
         text-align: -webkit-center;
     }

     .img_4 h1 {
         font-size: 36px;
         left: 28%;
         top: 50%;
     }

 }




 @media only screen and (max-width: 977px) {
     .menu li {
         margin-left: 50px;
     }

     .menu a {
         font-size: 50px;
     }

 }


 @media only screen and (min-width: 1200px) {
     #footer .col-xl-6 {
         padding-top: 200px;
     }
 }

 @media only screen and (max-width: 767px) {
     .oval_img {
         width: 35px;
         height: 35px;
     }

     .oval {
         width: 35px;
         height: 35px
     }

     .box_1 {
         margin-top: 0px;
     }

     .re_power h1 {
         font-size: 30px;
         margin-top: -100px;


     }

     .img_3 img {
         width: 100%;
         position: absolute;
         /* height: -webkit-fill-available; */
         height: 438px;
     }

     .img_3 {}

     .img_4 {
         top: -120px;
     }

     .img_2 {
         height: 438px;
     }

     #know_us h1 {
         font-size: 20px;
     }

     #know_us .oval h1 {
         width: 42px;
         height: 32px;
         font-family: FuturaPT;
         font-size: 10px;
         font-weight: 500;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.6;
         letter-spacing: 0.3px;
         text-align: center;
         color: #000000;
         left: -5px;
         margin-top: -25px;
     }

     #know_us h2 {
         font-size: 13px;
         padding-left: 40px;
         padding-right: 40px;
     }



     #know_us .cruelty {
         position: relative;
         top: 16px;
     }

     .oval {
         margin: 10px;
     }

     .md_1 {
         text-align: -webkit-center;
     }

     .col-md-2 {
         display: none;
     }

     .img_1 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         text-align: -webkit-center;
     }

     .img_2 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         top: 50%;
         position: absolute;
         text-align: -webkit-center;
     }

     .img_3 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         position: absolute;
         max-width: 300px;
         top: 30%;
         text-align: -webkit-center;
     }

     .img_4 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         position: absolute;
         text-align: -webkit-center;
     }

     .img_1 {
         max-width: 100%;
     }

     .img_4 {
         height: 438px;
     }

     .img_1 img {
         height: 438px;
     }

     .img_2 img {
         height: 438px;
         object-fit: cover;
     }

     .img_2 {
         top: 90px;
         left: 60px;
         max-width: 100%;
         left: 0px;
     }

     .button {
         top: 80%;
     }

     .button_img_3 {
         top: 60%;
     }

     #footer .col-xl-2 {

         padding-left: 15px;
     }

     #footer .col-xl-4 {

         padding-left: 15px;
     }

     #footer .container-fluid {
         padding-left: 30px;
         padding-right: 30px;
     }

     .menu li {
         margin-left: 0px;
     }



 }

 @media only screen and (max-width: 576px) {
     .go {
         margin-left: -45px;
         width: 40px;
         height: 38px;

     }

     #know_us .form-control {
         max-width: 270px;
     }

     .menu li {
         margin-left: 0px;
     }

     .menu a {
         text-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);

         font-size: 27px;
         font-weight: 900;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: -0.3px;
         color: #ffffff;

     }

     .a_2 {
         margin-top: -140px;
     }

     .a_3 {
         margin-top: 30px;
     }



     #footer .col-xl-2 {
         text-align: left;
         padding-top: 150px;
     }

     .row_footer {
         margin-top: -150px;
     }

     #footer .col-xl-6 {
         text-align: -webkit-right;
         padding-right: 15px;
         bottom: 454px;
     }

     #footer h5 {
         font-size: 12px;
     }

     #footer p {
         font-size: 13px;
     }

     .a_3 {
         top: -170px;
     }

     .img_2 {
         top: 90px;
         left: 60px;
         max-width: 100%;
         left: 0px;
     }

     .menu p {
         bottom: 11px;
     }

     .nav_icon {
         bottom: 20px
     }

     #footer .col-xl-4 {
   
         
         left: -5px;
         top: 35px
     }

     #footer .col-xl-8 {

         justify-content: flex-start;
         display: flex;
         padding-right: -28px;
         left: -5px;
         top: -50px;
     }

     .policy {
         left: 30px;
         position: relative;
     }
 }
