 @font-face {
     font-family: CGmed;
     src: url(font/CormorantGaramond-Medium.ttf);
     font-weight: bold;
 }

 @font-face {
     font-family: CGbold;
     /*src: url(font/Bodoni SvtyTwo ITC TT Bold.otf);*/
     src: url(font/CormorantGaramond-Bold.ttf);
     font-weight: bold;
 }

 @font-face {
     font-family: BodoniBold;
     /*src: url(font/Bodoni SvtyTwo ITC TT Bold.otf);*/
     src: url(font/bodonisvtytwoitcttbold.ttf);
     font-weight: bold;
 }


 @font-face {
     font-family: Butler;
     /*src: url(font/ButlerRegular.otf);*/
     src: url(font/butlerregular.ttf);
 }

 @font-face {
     font-family: ButlerMed;
     /*src: url(font/ButlerMedium.otf);*/
     src: url(font/butlermedium.ttf);
 }


 @font-face {
     font-family: AvenirLight;
     src: url(font/AvenirLight.ttf);
     /*src: url(font/avenirlight.otf);*/
 }

 @font-face {
     font-family: AvenirMed;
     src: url(font/AvenirMedium.ttf);
     /*src: url(font/avenirmedium.otf);*/
 }

 @font-face {
     font-family: Poppins;
     src: url(font/Poppins-SemiBold.ttf);
     /*src: url(font/poppinssemibold.otf);*/
     font-weight: bold;
 }

 /************
FUTURA
----------------*/
 @font-face {
     font-family: FuturaMed;
     /*src: url(font/FuturaMedium.otf);*/
     src: url(font/futuraMedium.ttf);
 }

 @font-face {
     font-family: FuturaPT;
     /*src: url(font/FuturaPTBook.otf);*/
     src: url(font/futuraptbook.ttf);
 }

 @font-face {
     font-family: FuturaBold;
     src: url(font/futura-bold-font.ttf);
     /* src: url(font/futuraboldfont.otf);*/
     font-weight: bold;
 }

 @font-face {
     font-family: Futura-PT-Heavy;
     src: url(font/futura-pt-heavy.otf);

 }



 * {
     box-sizing: border-box;
 }

 body {
     font-size: 16px;
     overflow-x: hidden;
 }

 /* Menu */
 .menu-icon {
     position: absolute;
     top: 40px;
     left: 50px;
     display: block;
     width: 40px;
     height: 16px;
     z-index: 1000;
 }

 .burger_white {
     top: 40px;
 }

 .menu-icon .burger_white {
     opacity: 0;
 }

 .menu-icon.active .burger {

     opacity: 0;
 }

 .menu-icon.active .burger_white {
     /*top: 0px;*/
     opacity: 1;
     position: fixed;
 }

 .menu {
     display: none;
     flex-direction: column;
     justify-content: center;
     margin: 0;
     padding: 0;
     background: black;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     list-style-type: none;
     z-index: 2;
 }

 .menu li {
     width: 100%;
     margin-bottom: 15px;
     margin-left: 150px;
 }

 .menu a {
     text-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
     font-family: Futura-PT-Heavy;
     font-size: 80px;
     font-weight: 600;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     text-decoration: none;
     transition: color 0.3s ease;
 }


 /*.menu a:hover {
     text-decoration: line-through;

 }*/

 .menu.visible {
     display: flex;
     position: fixed;

 }

 .menu.visible body {
     overflow: hidden;
 }

 .bitmap {
     position: absolute;
     top: 40px;
     left: 50%;
     object-fit: contain;
     transform: translateX(-50%);
     width: 100px;
     height: 25px;
 }

 .nav_icon {
     position: fixed;
     bottom: 0;
     right: 120px;
     display: flex;
 }


 .menu p {
     width: 58px;
     height: 17px;
     font-family: FuturaPT;
     font-size: 12px;
     font-weight: 600;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: fixed;

 }

 .burger_p_1 {
     position: fixed;
     bottom: 18px;
     right: 46px;
 }

 .burger_p_2 {
     position: fixed;
     bottom: 19px;
     right: 160px;
 }

 .instagram {
     margin-right: 95px;
 }

 /*----------
END MENU 
---------------*/


 /* ------------
HEADER
------------------*/
 header img {
     position: absolute;
     top: 40px;
     left: 50%;
     object-fit: contain;
     width: 100px;
     height: 25px;
     transform: translateX(-50%);
 }

 .button {
     position: absolute;
     top: 65%;
     left: 50%;
     transform: translateX(-50%);
     width: 100px;
     height: 30px;
     border: solid 1px #ffffff;
     background: transparent;
     cursor: pointer;
     color: #ffffff;
     z-index: 1;
 }

 .button_img_3 {
     top: 59%
 }

 .box a {
     text-decoration: none;
 }

 .box a:hover {
     text-decoration: none;
 }

 .re_power h1 {
     max-width: 475px;
     height: 210px;
     font-family: Futura;
     font-size: 25px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 2.8;
     letter-spacing: 41.7px;
     color: #000000;
     margin-top: 280px;
     text-transform: uppercase;
     text-decoration: none;
 }


 .re_power span {
     color: #f2559d;
 }

 .img_1 {
     max-width: 422px;
     /* height: auto; */
     /* background: url(img/home1.jpg); */
     position: relative;
     top: 50px;


 }

 .img_1 img {
     width: 100%;
 }

 .img_2 {
     max-width: 386px;
     height: 579px;
     top: -70px;
     position: relative;
 }

 .img_2 img {
     width: 100%;
     /*position: absolute;*/
     box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
 }

 .img_1 h1 {
     text-decoration: none;
     font-family: CGbold;
     font-size: 48px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     padding-left: 5px;
     padding-right: 5px;
     position: absolute;
     top: 50%;
     left: 4%;
 }

 .img_1 span {
     color: #f2559d;
 }

 .img_2 h1 {

     text-decoration: none;
     font-family: CGbold;
     font-size: 50px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: relative;
     top: -50%;
     left: 50%;
     transform: translateX(-36%);
     z-index: 1;
 }

 .img_2 span {
     color: #f2559d;
 }


 /*-----------------------------
IMG 3 , IMG 4
---------------------------*/

 .img_3 img {
     width: 100%;
     position: absolute;
 }

 .img_4 img {
     width: 100%;
     position: absolute;
     height: 100%;
     object-fit: cover;
 }


 .img_3 {
     width: 658px;
     height: 438px;
     position: relative;
     margin-top: 123px;

 }

 .img_4 {
     width: 409px;
     height: 615px;

     left: 215px;
     position: relative;
 }

 .img_3 h1 {
     position: relative;
     font-family: CGbold;
     font-size: 50px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: relative;
     top: 37%;
     left: 13%;
     transform: translate(-50% -50%);
     text-decoration: none;
 }

 .img_3 span {
     color: #f2559d;
 }

 .img_4 h1 {
     position: relative;
     font-family: CGbold;
     font-size: 50px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
     position: relative;
     top: 50%;
     left: 25%;
     transform: translate(-50% -50%);
     z-index: 1;
     text-decoration: none;

 }

 .img_4 span {
     color: #f2559d;
 }
.l:hover {
    text-decoration:   line-through;
}
.l::after,.l::before{
  content:'\00a0\00a0\00a0\00a0';
}

.l2:hover {
    text-decoration:  line-through;
}
.l2::after,.l2::before{
  content:'\00a0\00a0';
}

 /* ------------------------
KNOW US 
--------------------------*/

 #know_us {
     text-align: -webkit-center;
     padding-top: 150px;
 }

 #know_us .row {
     justify-content: center;
 }

 #know_us h1 {
     font-family: ButlerMed;
     font-size: 25px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 1px;
     text-align: center;
     color: #000000;
 }
 


 #know_us h2 {
     font-family: FuturaPT;
     font-size: 15px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.73;
     letter-spacing: 0.4px;
     text-align: center;
     color: #000000;
 }

 #know_us span {
     font-family: Futura ;
     font-weight: 900;
 }

 #know_us .form-control {
     width: 300px;
     display: inline;
 }

 #know_us .container-fluid {
     display: flex;
     justify-content: center;
 }

 .oval {
     width: 80px;
     height: 80px;
     background-color: #f5f6fa;
     border-radius: 50%;
     margin: 80px;

 }
 
 #know_us .oval h1 {
     font-family: FuturaMed;
     font-size: 15px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 5px;
     color: #000000;
     position: relative;
     top: 39px;
     width: 161px;
     left: -39px;
     text-transform: uppercase;
 }



 #footer {
     padding-bottom: 50px;
     text-align: -webkit-center;


 }

 #footer h5 {
     font-family: AvenirMed;
     font-size: 15px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #000000;
 }

 #footer a {
     text-decoration: none;
     color: #000000;
 }

  
 .line {
     height: 1px;
     background-color: #000000;
     width: 80%;
     position: relative;
     top: 100px;
 }

 #footer .col-xl-2 {
     text-align: left;
     padding-top: 200px;
     padding-left: 75px;

 }

 #footer p {

     font-family: AvenirLight;
     font-size: 14px;
     font-weight: 300;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 1px;
     color: #000000;
 }
#footer a:hover {
    text-decoration: line-through;
}
 .footer_icon {
     padding-top: 200px;
     text-align: right;
     padding-right: 75px;

 }

 #footer img {
     margin-left: 64px;
 }


 #footer .col-xl-4 {
     text-align: left;
     padding-left: 75px;
 }

 #footer .col-xl-8 {
     justify-content: flex-end;
     display: flex;
     padding-right: 75px;

 }




 .img_1:hover {
     opacity: 0.6
 }

 .img_3:hover {
     opacity: 0.6
 }

 .img_4:hover {
     opacity: 0.6
 }

 .z1:hover {
     opacity: 0.6
 }

 .row_footer {
     margin-top: 50px;
 }

 @media only screen and (min-width: 1480px) {
     .img_3 {
         margin-left: -170px;
     }
 }

 @media screen and (min-width: 767px) and (max-width: 1217px) {
     .oval {
         margin: 35px;
     }

     .footer_icon {
         padding-top: 0px;
     }
 }

 @media only screen and (max-width: 1200px) {
     .img_3 img {
         width: 100%;
         position: absolute;
         /* height: -webkit-fill-available; */
         height: 438px;
     }

     .img_4 {
         width: 422px;
         left: 0px;
         height: 610px;
         width: 100%;
     }

     .img_3 {
         width: 422px;
         left: 0px;
         height: 610px;
         width: 100%;
     }

     .img3 img {
         width: 100%;
         position: absolute;
         height: -webkit-fill-available;

     }


     .img_1 h1 {
         font-size: 42px;
         left: 10%;
     }

     .img_2 h1 {
         font-size: 42px;
         left: 55%;
     }

     .img_3 h1 {
         font-size: 42px;
         left: 4%;
     }

     .img_4 h1 {

         font-size: 42px;
         left: 32%;
     }
 }

 @media only screen and (max-width: 993px) {
     #know_us {
         padding-top: 0px;
     }

     .menu p {
         bottom: 0;
     }

     .col-md-2 {
         display: none;
     }

     .img_1 h1 {
         font-size: 30px;
     }


     .box .row {

         justify-content: center;
     }

     .img_2 h1 {
         font-size: 36px;
     }

     .img_3 h1 {
         top: 30%;
         font-size: 36px;
         left: 0%;
         text-align: -webkit-center;
     }

     .img_4 h1 {
         font-size: 36px;
         left: 28%;
         top: 50%;
     }

 }

 
 @media only screen and (max-width: 576px) {
      

     #footer .col-xl-2 {
         text-align: left;
         padding-top: 200px;
         padding-left: 15px;
     }

     .row_footer {
         margin-top: -356px;
     }

     .footer_icon {

         bottom: 375px;
         text-align: -webkit-center;
     }


     .a_3 {
         top: -170px;
     }

     .img_2 {
         top: 90px;
         left: 60px;
         max-width: 100%;
         left: 0px;
     }

     .menu p {
         bottom: 11px;
     }
     .nav_icon {
	bottom: 20px
        
}

     #footer .col-xl-4 {
         text-align: center;
         padding-left: 0px;
     }

     #footer .col-xl-8 {
         display: none;
     }
 }


 @media only screen and (max-width: 977px) {
     .menu li {
         margin-left: 100px;
     }

     .menu a {
         font-size: 50px;
     }

 }

 @media only screen and (max-width: 560px) {
     .menu li {
         margin-left: 0px;
     }

     .menu a {
         font-size: 27px;
         
     }

 }
@media only screen and (max-width: 767px) {
     .menu li {
         margin-left: 50px;
     }
     .re_power h1 {
         font-size: 17px;
         margin-top: 132px;
         letter-spacing: 26.7px;
         margin-bottom: -100px;
     }

     .img_3 img {
         width: 100%;
         position: absolute;
         /* height: -webkit-fill-available; */
         height: 438px;
     }

     .img_3 {}

     .img_4 {
         top: -120px;
     }

     .img_2 {
         height: 438px;
     }

     .row_footer {
         margin-top: -145px;
     }

     .footer_icon {
         bottom: 230px;
     }

     .oval {
         margin: 45px;
     }

     .md_1 {
         text-align: -webkit-center;
     }

     .col-md-2 {
         display: none;
     }

     .img_1 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         text-align: -webkit-center;
     }

     .img_2 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         top: 50%;
         position: absolute;
         text-align: -webkit-center;
     }

     .img_3 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         position: absolute;
         max-width: 300px;
         top: 30%;
         text-align: -webkit-center;
     }

     .img_4 h1 {
         font-size: 32px;
         left: 50%;
         transform: translateX(-50%);
         position: absolute;
         text-align: -webkit-center;
     }

     .img_1 {
         max-width: 100%;
     }

     .img_4 {
         height: 438px;
     }

     .img_1 img {
         height: 438px;
     }

     .img_2 img {
         height: 438px;
     }

     .img_2 {
         top: 90px;
         left: 60px;
         max-width: 100%;
         left: 0px;
     }

     .button {
         top: 80%;
     }

     .button_img_3 {
         top: 60%;
     }

     #footer .col-xl-2 {

         padding-left: 15px;
     }

     #footer .col-xl-4 {

         padding-left: 15px;
     }


 }

