.content {
    padding-top: 110px;
    margin-left: 50px;
    max-width: 770px;
    max-height: 790px;
    position: absolute;
}
.sticky {
    position: fixed;
    /*margin-top: -100px;
margin-left: -40px;*/
    max-width: 45.8%
}

 
.foto1 img {
    max-height: 790px;
    max-width: 770px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ewelina {
    position: absolute;
    top: 50%;     
    right: 0px;
}
.ewelina_white {
	display: none;
}

#box h1 {
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    top: 50%;
    position: absolute;
    left: 25%;

}

#box h2 {
    width: 225px;
    height: 64px;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
    position: absolute;
    /* margin-bottom: -27px; */
    /* margin-top: -290px; */
    right: -97px;
    top: 79%;
    /* transform: translateY(-50%); */
    right: 0;
}

#box span {
    color: mediumvioletred
}

#box p {
    max-width: 420px;
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #000000;
    left: 25%;
    position: relative;
    top: 80%;
}

.history_know {
    margin-top: 500px;
}

.arrow {
    position: static;
    margin-top: -250px;
    margin-left: 50px;
}



.timeline {
    width: 100%;
    max-width: 700px;
    top: 550px;

    position: relative;
    left: 41%;
    height: auto;
    padding-top: 210px;

}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;

}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .title {
    margin-bottom: 0.5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.entry .black:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border: 4px solid black;
    background-color: black;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.entry .red:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #f2559d;
    background-color: #f2559d;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}


.entry .title h3 {
    margin: 0;
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
}

.entry .title p {
    margin: 0;
    font-size: 100%;
}

.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.entry .body p {
    line-height: 1.4em;
    font-family: FuturaMed;

    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;

}

.entry .body p:first-child {

    font-weight: 400;
}

.entry .body ul {
    font-family: FuturaPT;
    padding-left: 0;
    list-style-type: none;
}

/*.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}*/

.sub_text {
    text-align: -webkit-center;
    position: relative;

    /* top: 50%; */
    /* position: absolute; */
    bottom: -432px;
}

.sub_text h1 {
    font-family: BodoniSvtyTwoITCTT;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    width: 668px;
    height: 160px;
}

.sub_text span {
    color: #f2559d
}

.h_timeline h1 {
    font-family: Futura;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    position: relative;
    bottom: -532px;
}

.h_timeline {
    text-align: -webkit-center;
}
@media only screen and (min-width: 1200px){
#know_us {
	padding-top: 600px;
    }
}
@media only screen and (min-width: 1440px) {
    .ewelina {
        right: -92px;
    }

    #box h2 {
        right: -100px;
    }
    .timeline {
	left: 50%
}
}

@media only screen and (max-width: 1439px) {
    #box h2 {
        display: block;
        position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
        color: white
    }
    .ewelina {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        display: none
} 
    .ewelina_white {
       position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
        display: block;
    }
} 

@media only screen and (max-width: 1200px) {
    .sticky {
        max-width: 40%
    }

    #box p {
        left: 5%;
        top: 40%;
    }

    #box h1 {
        top: 25%;
    }
     

    .timeline {
        top: 200px;
        position: relative;
         
        max-width: 460px;
    }

    #know_us {
        margin-top: 200px;
    }
   

}
@media only screen and (max-width: 967px) {


    .content {
        margin-left: -15px;
    }
}





@media only screen and (max-width: 767px) {
     .sticky {
	max-width: 100%;
         z-index: 1000
        
}

    .text_box {
        text-align: -webkit-center;
            margin-top: 400px;
    }

    #box p {
        text-align: left;
        left: 0;
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -30px
    }

    #box h1 {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
 
        font-size: 30px;
    }
  

    .entry .body ul {
        padding-right: 30px;
        font-size: 13px;
    }

    .timeline {
        left:  0%;
    }
    .foto1 img {
        height: 360px;
        margin-top: 5px;
    }
    .arrow {
	display: none        
}
    .foto1 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .entry .body p {
        font-size: 20px;
        padding-right: 15px;
    }
    .entry .title h3 {
        font-size: 20px;
    }
    .entry .title .december {
        font-size: 13px;
    }
}


@media only screen and (max-width: 576px) {
    
    .timeline {
	max-width: 390px;
        left: 0%;
}
}
