main {
    margin-top: 220px;
    text-align: -webkit-center;
}

main h1 span {
    color: #f2559d;
}

h1 {
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #000000;
    text-transform: lowercase;
}

#foto img {
    max-height: 689px;
    height: auto;
    margin: 150px auto;
}

.arrow {
    /* left: -40%; */
    /* top: 49%; */
    position: absolute;
    left: 5%;
    top: 44%;

}
.napis {
    max-width: 628px;
}
.love,
.friendship,
.magic {
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: 50px;
    text-align: left;
    color: #000000;
}

.love {
    margin-top: 200px;
    text-align: left;
    }
.friendship {
 
}

.magic {
    text-align: right;
}



h2 {

   /* font-family: FuturaMed;*/
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 40px;
    color: #000000;
}



#know_us {
    padding-top: 125px;
}

.leaf {

    width: 169px;
    height: 155px;
    background-color: aqua;
    margin-top: 150px;
}

h3 {
    max-width: 840px;
    height: 200px;
   /* font-family: FuturaMed;*/
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 4;
    letter-spacing: 40px;
    text-align: center;
    color: #000000;
    margin-top: 250px;
}

#fotos .row {
    justify-content: center;
}

#fotos h1 {
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;

    text-transform: none;
}

#fotos .text2 h1 {
       position: relative;
    text-align: -webkit-right;

}

#fotos p {
    font-family: FuturaPT;
    max-width: 350px;
    height: 300px;

    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.4px;
    color: #000000;
    text-align: -webkit-left;


}

.col_text_2 {
    text-align: -webkit-right;
}


.foto1 img {
    object-fit: cover;
    max-width: 800px;
    height: 500px;
    width: 100%;
}

.foto2 img {
    object-fit: cover;
    max-width: 800px;
    height: 500px;
    width: 100%;
}



.foto3 img {
    object-fit: cover;
    max-width: 800px;
    height: 500px;
    width: 100%;
}







.text {
    text-align: left;
    margin-top: 100px;
}

.text p span {
    color: #f2559d
}

.text p {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #000000;
}

.p_line {
    width: 100px;
    height: 1px;
    background: black;
    position: absolute;
    margin-top: 190px;
}

#fotos {
    margin-top: 200px;
}

 

.foto1 , .foto3 {
    text-align: right;
}
.foto2 {
text-align: left}

.text1 {
    text-align: left;
    margin-top: 70px;
}

.row3 {
    text-align: -webkit-left;
}

.row2 {
    margin-top: 100px;
}

.row2 .text2 h1 {
    text-align: -webkit-center;
    margin-left: -30px;
    margin-top: 70px;
}

.row3 {
    margin-top: 100px;
    text-align: -webkit-left;
}

.l_o_v_e {
	max-width: 40%;
}

@media only screen and (max-width: 1200px) {
    .col-md-2 {
        display: block;
    }

    #fotos .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .text1 {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 993px) {
    .col-md-2 {
        display: block;
    }

    #fotos .container-fluid {
        padding-left: 15px;
        padding-right: 15px;

    }

    .text1 {
        margin-top: 25px;
    }
    .l_o_v_e {
	max-width: 90%;
}
}

@media only screen and (max-width: 767px) {
    .napis {
    max-width: 307px;
        position: relative;
        top: -350px;
}
    .container_text {
	position: relative;
        top: -350px;
}
    
    .col-md-2 {
        display: block;
    }

    #fotos h1 {
        text-align: -webkit-left;
        top: 0
    }

    .text1 {
        text-align: -webkit-left;
        
    top: -420px;
    position: relative;
}
    .foto1 {
    text-align: right;
    position: relative;
    top: -420px;
}
    

    #fotos p {
        font-size: 14px;
    }

    .row2 {
        margin-top: -20px;
    }
    #fotos .text2 h1 {
        text-align: -webkit-left;
    }
    .col_text_2 {
	text-align: -webkit-left;
}
    .love {
	margin-top: 0px;
}
    .l_o_v_e {
        max-width: 70%;
        
    }
    .love,
.friendship,
    .magic {
        font-size: 15px;
        letter-spacing: 23px;
    }
    main {
        margin-top: 115px;
    }
    h1 {
        font-size: 30px;
        top: 420px;
    position: relative;
    }
    .arrow {
	display: none
}
    #foto {
	padding-left: 30px;
        padding-right: 30px;
        margin-top: -195px;
}
    .friendship {
	width: 204px;
  height: 50px; 
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 10px;
  text-align: center;
  color: #000000;
}
    .magic {
	width: 200px;
  height: 50px;
    font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 10px;
  text-align: right;
  color: #000000;
}
    .love {
	width: 200px;
  height: 50px;
    font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 10px;
  color: #000000;
}

    #foto img {
        width: 315px;
        height: 360px;
    }
    h2 {
        width: 315px;
  height: 100px;  
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 10px;
  text-align: center;
  color: #000000;
    }
    .leaf {
    width: 80px;
    height: 72px;
}
    .row_1 {
	margin-top: -100px;
}
    .row_2 {
	margin-top: -100px
}
    .vegan {
   
  font-family: FuturaPT;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.3px;
  text-align: center;
  color: #000000;
        text-transform: uppercase;
        margin-top: 30px;
}
    h3 {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 10px;
  text-align: center;
  color: #000000;
    margin-top: 50px;}
    #fotos .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
    .foto1 img , .foto2 img , .foto3 img {
        height: 360px;
    }
    #fotos {
        margin-top: 400px;
    }
    .foto2 {
        position: relative;
    top: -740px;
    }
    #fotos .text2 h1 {
    position: relative;
    text-align: -webkit-left;
    padding-left: 30px;
}
     .foto3 {
     
    position: relative;
    top: -420px;
}

}



















