main {
    margin-top: 150px;
    text-align: -webkit-center;
}

main h1 span {
    color: #f2559d;
}

h1 {
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-transform: lowercase;
}

.text p {
    font-family: CGmed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    max-width: 841px;
    height: 180px;
    position: relative;
    top: 100px;

}


.text p {
    max-width: 1190px;
}


.text {
    margin-bottom: -200px;
}

.arrow {
    position: relative;
    left: -53%;
    z-index: 1;
    top: 100px;
}

#gallery img {}

.foto1 {
    margin-top: 150px;
    width: 100%;
    height: 438px;

}

.foto1 img {
    width: 100%;
    height: 438px;
    object-fit: cover;
}

.foto1_p {
    font-family: FuturaMed;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #000000;
    position: absolute;

}

.foto2_p {
    font-family: FuturaMed;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #000000;


}

.p_2 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6px;
    color: #000000;
    position: absolute;
    transform: rotate(-90deg);
    right: -85px;
    top: 246px;
}

.p_1 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6px;
    color: #000000;
    position: absolute;
    transform: rotate(-90deg);
    left: -95px;
    top: 221px;
}

.p_3 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6px;
    color: #000000;
    position: absolute;
    transform: rotate(-90deg);
    right: -100px;
    top: 229px;
}

.p_4 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6px;
    color: #000000;
    position: absolute;
    transform: rotate(-90deg);
    left: -100px;
    top: 229px;

}

.p_5 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6px;
    color: #000000;
    position: absolute;
    transform: rotate(-90deg);
  top: 215px;
    /* left: 626px; */
    width: 176px;
    right: -95px;
}

.p_6 {
    font-family: FuturaPT;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6px;
    color: #000000;
    position: absolute;
    transform: rotate(-90deg);
    left: -100px;
    top: 228px;

}

.foto2 {
    margin-top: 102px;
    width: 100%;
    height: 600px;

}

.foto2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.foto3 {
    margin-top: 102px;
    width: 100%;
    height: 600px;

}

.foto3 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#know_us h1 {
    text-transform: none;
}


.container-fluid_1 {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: -webkit-left;
}

.container-fluid_2 {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: -webkit-right;
}

.container-fluid_3 {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: -webkit-left;
}

.container-fluid_4 {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: -webkit-right;
}

.container-fluid_5 {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: -webkit-left;
}

.container-fluid_6 {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: -webkit-right;
}

@media only screen and (max-width: 900px) {

    .container-fluid,
    .container-fluid_1,
    .container-fluid_2,
    .container-fluid_3,
    .container-fluid_4,
    .container-fluid_5,
    .container-fluid_6 {
        padding-left: 36px;
        padding-right: 36px;

    }
}

@media only screen and (max-width: 767px) {
    main {
        margin-top: 115px;
    }

    #gallery {
        margin-top: 75px;
    }

    .arrow {
        display: none;
    }

    .text p {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .foto1 img {
        height: 360px;

    }

    .p_2 {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        right: -30px;
        top: 214px;
    }

    .p_1 {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        top: 177px;
        left: -30px
    }

    .p_3 {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 0.3px;
       right: -41px;
    top: 180px;

        transform: rotate(-90deg);
    }

    .p_4 {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        top: 182px;
        left: -40px;

        transform: rotate(-90deg);
    }

    .p_5 {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        right: -90px;
    top: 123px;

        transform: rotate(-90deg);
    }

    .p_6 {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        top: 182px;
        left: -40px;

        transform: rotate(-90deg);
    }

    .container-fluid_1 {
        padding-left: 30px;
        padding-right: 55px;
    }

    .container-fluid_2 {
        padding-left: 55px;
        padding-right: 30px;
        margin-top: -150px;
    }

    .container-fluid_3 {
        padding-left: 30px;
        padding-right: 55px;
        margin-top: -150px;
    }

    .container-fluid_4 {
        padding-left: 55px;
        padding-right: 30px;
        margin-top: -150px;
    }

    .container-fluid_5 {
        padding-left: 30px;
        padding-right: 55px;
        margin-top: -150px;
    }

    .container-fluid_6 {
        padding-left: 55px;
        padding-right: 30px;
        margin-top: -150px;
    }
    .text {
    margin-bottom: -175px;
    margin-top: -50px;
}
