main {
    margin-top: 150px;
    text-align: -webkit-center;
}

main h1 span {
    color: #f2559d;
}

h1 {
    
    
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-transform: lowercase;
}

.text p {
    font-family: CGmed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    max-width: 841px;
    height: 180px;
    position: relative;
    top: 100px;

}

.text {
    margin-bottom: -200px;
}

.arrow {
    position: relative;
    left: -41%;
    top: 2%;
    /* bottom: 32%; */
    /* top: 57%; */
    top: 280px;
    z-index: 1;

}

#gallery img {}

.foto1 {
    margin-top: 190px;
    width: 100%;
    height: 500px;

}

.foto1 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
        object-position: top;
}

.foto1_p {
    font-family: FuturaMed;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
    position: absolute;
    margin-top: 20px;

}

.foto2 {
    margin-top: 102px;
    width: 100%;
    height: 500px;

}

.foto2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.foto3 {
    margin-top: 102px;
    width: 100%;
    height: 500px;

}

.foto3 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#know_us h1 {
    text-transform: none;
}

@media only screen and (max-width: 767px) {
    main {
        margin-top: 115px;
    }
    h1 {
        font-size: 30px;
    }
    .text p {
        font-size: 20px;
    }
    .text {
            margin-top: -55px;;
    }
    #gallery img {
        height: 360px;
    }
    .foto1_p {
        font-size: 13px;
    }
    .foto2 , .foto3 {
        margin-top: -50px
    }
    .container {
	padding-left: 30px;
        padding-right: 30px
}
}
