body {
    width: 100%;
}

.content {
    width: 100%;
    height: 600px;
    /* background: url(img/re1.jpg)no-repeat;*/
    margin-top: 150px;
    margin-bottom: 250px;
    position: relative;
}

.content .foto1 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 730px;
}

.content a:hover {
    text-decoration: line-through;
    color: black;
}

.foto2 {
       width: 881px;
  height: 422px;
    position: absolute;
    right: 0;
 display: none;
top: 25%;
}

.foto3 {
     width: 621px;
  height: 414px;
    position: absolute;
    right: 0;
display: none;
top: 30%;
}
.foto4 {
     width: 621px;
  height: 414px;
    position: absolute;
    right: 0;
display: none;
top: 35%;
}

#box .container-fluid {
    max-width: 1340px;

}

#box h1 {
    position: relative;
    top: 45%;
    left: 10%;
    font-family: CGbold;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

}


.content span {
    color: #f2559d;
}

    

.content a {
    position: relative;
    top: 62%;
    left: 10%;
    max-width: 562px;
    text-transform: lowercase;
    text-decoration: none;
    display: block;
    font-family: FuturaMed;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 25px;
}
 
.arrow {
       position: relative;
    top: -150px;
    left: 50px;

}
#know_us {
	padding-top: 0px;
}

@media only screen and (max-width: 767px){
    #box h1 {
        font-size: 30px;
        top: 20%;
    left: 15%;
        
    }
    .text h2 {
        font-size: 16px;
        margin-top: -90px;
    }
    .content .foto1 {
        height: 315px;
    }
    .arrow {
	display: none
}
    .content {
	height: 330px;
}
    .content a {
        font-size: 16px;
        top: 30%;
    left: 0%;
    }
    .container-fluid {
	padding-left: 30px;
        padding-right: 30px;
}
}


























 